<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="row">
	<div class="row display">
		<div class="one columns">
			<h2>Name</h2>
		</div>
		<div class="two columns">
			<h2>Email</h2>
		</div>
	</div>
	<% @users.each do |user| %>
		<div class="row display">
			<div class="one columns">
				<%= user.name %>
			</div>
			<div class="two columns">
				<%= user.email %>
			</div>
			<div class="one columns">
				<%= link_to 'Show', user %>
			</div>
			<div class="one columns">
				<%= link_to 'Edit', edit_user_path(user) %>
			</div>
			<div class="one columns">
				<%= user.email %>
			</div>
		</div>
	<% end %>
</div>



<%= link_to 'New User', new_user_path %>
